{% extends 'base.html' %}
{% load static %}
{% block title %}
  Monthly Challenges
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'challenges/challenges.css' %}">
{% endblock %}

{% block content %}
  {% include 'challenges/partials/header.html' with current_view='index' %}
  <h1>Month list</h1>
  <ul>
    {% for month in months %}
      <li>
        <a href='{% url "monthly-challenge" month %}'>{{ month|title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}